[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

cython = "*"
numpy = "*"
opencv-python = "*"
matplotlib = "*"
opencv-contrib-python = "*"
scikit-image = "*"
scikit-learn = "*"
keras = "*"
tensorflow = "*"


[dev-packages]



[requires]

python_version = "3.6"